@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Turret+Road:wght@200;300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Roboto";
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #F9FAf8;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
/* buttons */
.btn-primary{
    display: inline-block;
    background-color: #3882f6;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;

}
.cta-btn{
    display: inline-block;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
}
.orange-clr{
    color: orange;
}
/* utility classes */
.container{
    position: relative;
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
/* header */
.header{
    background-color: #1F2937;
    color: #F9FAf8;

}
/* navbar  */
.nav{
    position: relative;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}
.nav-logo{
    flex-grow: 1;
    font-size: 24px;
}

.nav-links{
    position: relative;
    display: flex;
    flex-grow: 0;
}
.nav-links li{
    padding: 10px 20px;
}
/* herro section  */
.herro{
    position: relative;
    display: flex;
    width: 100%;
    padding: 5rem 0; 
}
.herro-content{
    width: 100%;
}
.herro-title{
    font-size: 48px;
    font-weight: 900;
    width: 80%;
    line-height: 1.5;
}
.herro-text{
    width: 80%;
    font-size: 18px;
    color: #E5E7EB;
}
.herro-img{
    width: 100%;
    height: 100%;
}
/* about section  */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 1.5rem;
}
.about-title{
    font-size: 36px;
    color: #1F2937;
    padding: 1rem;
    margin-bottom: 1rem;
 
}
.card-container{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    margin: 5px;
    text-align: center;

}
.card-img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    height: 350px;
}
.card-text{
    padding: 1rem;
}
/* quote section  */
.quote-section{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 5rem 1rem;
}
.quote{
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}
.quote-author{
    align-self: flex-end;
}
/* cta section */
.cta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    color: #E5E7EB;
    background-color: #3882f6;
    padding: 4rem;
    border-radius: 10px;
}

.cta-title{
    font-size: 24px;
    font-weight: bold;
}
.cta-text{
    margin:15px 0;
}

/* footer  */
.footer{
    color: #ffffff;
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}







